/* Overall design of the website */
body{
    background-color: lightgrey;
}

.Container{
    background-color: burlywood;
    border-style: groove;
    border-width:3px;
    border-radius:2px;
    border-color: grey;
}



/* Javascript sensitive parts */ 
.BookmarkNavBar{
    background-color: #ff4444;
    position:fixed;
    top:0px;
    left:5%;
    border-style: solid;
    width: 22%;
}

#BookmarkNav{
    height:0px;
    overflow-y:hidden;
    background-color: #ff4440;
    transition: 0.5s;
}

.BookmarkNavBar ul{
    left: -50px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.BookmarkNavBar ul li{
    margin-top: 20px;
    list-style-type: none;
    font-size: 20pt;
    font-family: 'Georgia, serif';

    text-align: center;
    flex: 1;
}

#MenuButton{
    background-color: red;
    text-align:center;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 15px;
}

.Segment{
    background-color: darkslateblue;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 700px;
}

.SegPreview{
    background-color: black;
    min-height: 50px;
    width: 80%;
    left: 20px;
    flex:8;
}

.OpenSeg{
    background-color: whitesmoke;
    border-style:solid;
    border-color:black;
    border-radius: 5px;
    border-width: 2px;
    transition: 1s;
    flex:0; /* open value = 3.4 */
    overflow-x:hidden;
}

.Starter{
    padding-top: 40px;
    padding-left: 22%;
    padding-bottom: 20px;

    text-align: center;

    border-style:dashed;
    border-radius: 1px;
    border-width: 5px;
    border-color:whitesmoke; /* hardly seen border adds a touch on the background */
    background-color: lightyellow;
}

/* Conditional CSS */
